@page
@model VirtualGameStore.Pages.Checkout.IndexModel

@{
    ViewData["Title"] = "Checkout";
}

<h1 class="mb-3">@ViewData["Title"]</h1>

@if (!Model.CartItems.Any())
{
    <p>Your cart is empty, there's nothing to checkout.</p>
}
else
{
    <h3>Items</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Game
                </th>
                <th>
                    Unit Price
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CartItems[0].Quantity)
                </th>
                <th>
                    Subtotal
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Game.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Game.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @($"{item.Game.Price * item.Quantity:C2}")
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"><strong>Total</strong></td>
                <td>
                    <strong>@($"{Model.Total:C2}")</strong>
                </td>
            </tr>
        </tfoot>
    </table>

    <h3>Payment Options</h3>
    @if (!Model.CreditCards.Any())
    {
        <p>Please add a credit card to continue the order.</p>
        <a asp-area="Identity" asp-page="/Account/Manage/PaymentOptions" class="btn btn-primary">Add a credit card</a>
    }
    else
    {
        <p>Please select a credit card.</p>
        <form method="post">
            <div class="mb-3">
                <div class=" d-flex flex-wrap">
                    @foreach (var creditCard in Model.CreditCards)
                    {
                        <div class="form-check mb-3 me-4">
                            <input type="radio" id="credit-card-radio-@creditCard.Id" asp-for="InputModel.CreditCardId" value="@creditCard.Id" class="form-check-input" />
                            <label class="form-check-label" for="credit-card-radio-@creditCard.Id">
                                <partial name="_CreditCardPartial" model="creditCard" />
                            </label>
                        </div>
                    }
                </div>
                <span asp-validation-for="InputModel.CreditCardId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Finish Checkout</button>
        </form>
    }
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
