@page
@using System.Security.Claims
@model VirtualGameStore.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Events";
}

<h1>@ViewBag.Title</h1>

@if (ViewBag.StatusMessage != null)
{
    <div class="alert alert-success mt-3" role="alert">
        @ViewBag.StatusMessage
    </div>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger mt-3" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

@if (!Model.Events.Any())
{
    <p>No events available at the moment.</p>
}
else
{
    <div class="d-flex flex-wrap justify-content-center">
        @foreach (var item in Model.Events)
        {
            string? currUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
            bool isUserRegistered = item.Registrations.Any(r => r.UserId == currUserId);
            <div class="card w-25 m-3">
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Name)
                    </h5>

                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p>@Html.DisplayNameFor(model => model.Events[0].DateTime): @Html.DisplayFor(modelItem => item.DateTime)</p>
                    <p>Availability: @Html.DisplayFor(modelItem => item.Registrations.Count)/@Html.DisplayFor(modelItem => item.AttendeeLimit)</p>

                    <form method="post">
                        <input asp-for="EventId" value="@item.Id" hidden />
                        <div class="form-group">
                            @if (isUserRegistered)
                            {
                                <input type="submit" value="Unregister" class="btn btn-danger" />
                            }
                            else
                            {
                                <input type="submit" value="Register" class="btn btn-primary" />
                            }
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
}