@page
@model VirtualGameStore.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Events";
}

<h1>@ViewBag.Title</h1>

@if (!Model.Events.Any())
{
    <p>No events available at the moment.</p>
}
else
{
    <div class="d-flex flex-wrap justify-content-center">
        @foreach (var item in Model.Events)
        {
            <div class="card w-25 m-3">
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Name)
                    </h5>

                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p>@Html.DisplayNameFor(model => model.Events[0].DateTime): @Html.DisplayFor(modelItem => item.DateTime)</p>
                    <p>@Html.DisplayNameFor(model => model.Events[0].AttendeeLimit): @Html.DisplayFor(modelItem => item.AttendeeLimit)</p>

                    <a href="#" class="btn btn-primary mt-1">Register <i class="bi bi-cart"></i></a>
                </div>
            </div>
        }
    </div>
}