@page
@model VirtualGameStore.Pages.FriendsAndFamily.IndexModel

@{
    ViewData["Title"] = "Friends and family list";
    var getModalId = (string id) => $"modal-{id}";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Add">Add a member</a>
</p>

@if (!Model.Friends.Any())
{
    <p>The list is empty</p>
}
else {
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Friends[0].UserName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Friends)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-danger" data-bs-toggle="modal" data-bs-target="#@getModalId(item.Id)">
                            Remove
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@foreach (var item in Model.Friends)
{
    <div class="modal fade" id="@getModalId(item.Id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Remove member</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove @item.UserName from your friends and family list?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form asp-route-friendId="@item.Id" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>
}
