@page
@model VirtualGameStore.Pages.Reviews.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Add a Review</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Review)
        {
            <tr>
                <td>
                    <input class="rating"
                       max="5"
                       step="0.5"
                       style="--value:@item.Rating"
                       type="range"
                       value="@item.Rating"
                       readonly>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FirstName) @Html.DisplayFor(modelItem => item.Author.LastName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
