@page
@model VirtualGameStore.Pages.Profile.ManagePaymentOptions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PaymentOption</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentOption.CardNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentOption.CardNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentOption.ExpiryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentOption.ExpiryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentOption.HolderFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentOption.HolderFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentOption.HolderLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentOption.HolderLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentOption.BillingAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentOption.BillingAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PaymentOption?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
