@page
@using System.Text.RegularExpressions
@model VirtualGameStore.Pages.Profile.ManagePaymentOptions.IndexModel

@functions { 
    static string CcWithSpaces(string s) => $"{s[..4]} {s[4..8]} {s[8..12]} {s[12..]}";
}

@{
    ViewData["Title"] = "Index";
}
<style>
    .creditcard_container {
        display: inline-block;
        border-radius: 16px;
        margin: 12px;
    }
    
    .creditcard {
        border: solid 2px #145a32;
        border-radius: 16px;
        padding: 12px 16px;
        background: #91deae;
        box-shadow: 6px 4px 16px grey;
    }
    
    .creditcard_title, .creditcard_number, .creditcard_expiration, .creditcard_name {
        margin: 0;
    }
    
    .creditcard_hr {
        clear: both;
    }
    
    .creditcard_link {
        float: right;
        text-align: right;
        margin: 9px 4px 0;
    }
    
    .creditcard_title {
        float: left;
        display: inline;
    }
    .creditcard:not(:hover)  .creditcard_number:before {
        margin-top: 4px;
        content: "**** **** ****";
        background: #91deae;
        position: absolute;
    }
    .creditcard_number {    
        position: relative;
        font-family: monospace;
        font-size: 24px;
    }
    
    .creditcard_expiration {
        font-family: monospace;
        text-align: right;
        font-size: 20px;
    }
    
    .creditcard_name {
        display: table-caption;
        width: 100%;
    }
    
    .creditcard_addr {
        display: table-caption;
        width: 90%;
        margin: 5%;
    }
</style>

<p>
    <a asp-page="Create">Create New</a>
</p>
@foreach (var item in Model.PaymentOption) {
    <div class="creditcard_container">
        <div class="creditcard">
            <h4 class="creditcard_title">Credit Card</h4>
            <a class="creditcard_link" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            <a class="creditcard_link" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
            <hr class="creditcard_hr"/>
            <p class="creditcard_number">@CcWithSpaces(item.CardNumber)</p>
            <p class="creditcard_expiration">@item.ExpiryDate</p>
            <p class="creditcard_name">@item.HolderLastName, @item.HolderFirstName</p>
        </div>
        <p class="creditcard_addr">Billing Address: <br/>@item.BillingAddress</p>
    </div>
}
