@page
@using Microsoft.CodeAnalysis
@model VirtualGameStore.Pages.Games.DetailsModel

@{
    ViewData["Title"] = "Details";
    bool inStock = Model.Game.IsDigital || Model.Game.Stock > 0;
    bool btnsEnabled = User.IsInRole("Member");
}

<h1>@Html.DisplayFor(model => model.Game.Name)</h1>

<div class="d-flex border-top border-2 mt-3">
    <div @* Left side of page *@ class="d-inline-block flex-grow-1 mt-2">
        <h4>@Html.DisplayNameFor(model => model.Game.Description)</h4>
        <p>@Html.DisplayFor(model => model.Game.Description)</p>
    </div>
    <div @* Right side of page *@ class="d-inline-block flex-nowrap border-start border-2 ps-2 pt-3">
        <div>
            @if (!btnsEnabled)
            {
                <p class="mb-0">You must be a member to</p>
                <p class="mt-0">Purchase or Wishlist a game.</p>
            }
            <div>
                <button type="button" class="btn btn-success d-inline-block" disabled="@(!(inStock && btnsEnabled))">
                    Purchase: $@Model.Game.Price
                </button>
                <button type="button" class="btn btn-info d-inline-block" disabled="@(!btnsEnabled)">
                    Wishlist
                </button>
            </div>
            @if (Model.Game.IsDigital == false)
            {
                <p><b>Stock: </b>@Model.Game.Stock remaining.</p>
            }
        </div>
        <hr @* Buttons end and general info begins here *@ class="border-2 mb-2"/>
        <div>
            <h4>Platforms</h4>
            <ul>
                @foreach (var item in Model.Game.Platforms!)
                {
                    <li>@item.Name</li>
                }
            </ul>
            <h4>Categories</h4>
            <ul>
                @foreach (var item in Model.Game.Categories!)
                {
                    <li>@item.Name</li>
                }
            </ul>
            <h4>Media type</h4>
            <ul>
                <li>@(Model.Game.IsDigital ? "Digital Download" : "Physical")</li>
            </ul>
        </div>
    </div>
</div>

<hr/>

<div>
    <h4>Reviews</h4>

    @if (ViewBag.IsAuthorized)
    {
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#review-creation-form">
            Add Review
        </button>

        <div class="modal fade" id="review-creation-form" tabindex="-1" aria-labelledby="reviewCreationForm" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="reviewCreationForm">Create Review</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-warning" role="alert">
                            Your review will be posted after the approval from one of our employees.
                        </div>

                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Review.GameId" />
                            <input type="hidden" asp-for="Review.AuthorId" />
                            <div class="form-group">
                                <label asp-for="Review.Rating" class="control-label"></label> (hold left mouse key and move over the stars)
                                <input asp-for="Review.Rating"
                                   class="rating"
                                   max="5"
                                   oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
                                   step="0.5"
                                   style="--value:5"
                                   type="range"
                                   value="5">
                                <span asp-validation-for="Review.Rating" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <label asp-for="Review.Comment" class="control-label"></label> (optional)
                                <textarea asp-for="Review.Comment" class="form-control" rows="2"></textarea>
                                <span asp-validation-for="Review.Comment" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success mt-3" role="alert">
            Your review has been sent for inspection. Thank you!
        </div>
    }

    @if (!Model.Game.Reviews.Any())
    {
        <p>No reviews yet.</p>
    }
    else
    {
        string overallRating = Model.Game.GetOverallRating().ToString("0.0");

        <p class="fw-bold fs-5 text-center mb-0">Overall Rating: @overallRating</p>
        <input class="rating m-auto mb-3"
           max="5"
           step="0.5"
           style="--value:@overallRating"
           type="range"
           value="@overallRating">

        @foreach (var review in Model.Game.Reviews)
        {
            <div class="card m-auto" style="width: 40rem;">
                <div class="card-body">
                    <h5 class="card-title">@review.Author.UserName <span class="fs-6 fw-light">[@Html.DisplayFor(model => review.DateTime)]</span></h5>
                    <input class="rating"
                   max="5"
                   step="0.5"
                   style="--value:@review.Rating"
                   type="range"
                   value="@review.Rating">
                    <p class="card-text">@review.Comment</p>
                </div>
            </div>
        }
    }
</div>
