@page
@model VirtualGameStore.Pages.Games.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.IsDigital)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.IsDigital)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Stock)
        </dd>
    </dl>
</div>
<div>
    <h4>Reviews</h4>

    @if (ViewBag.IsAuthorized)
    {
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#review-creation-form">
            Add Review
        </button>

        <div class="modal fade" id="review-creation-form" tabindex="-1" aria-labelledby="reviewCreationForm" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="reviewCreationForm">Create Review</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Your review will be posted after the approval from one of our employees. Thank you.</p>
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Review.GameId" />
                            <input type="hidden" asp-for="Review.AuthorId" />
                            <div class="form-group">
                                <label asp-for="Review.Rating" class="control-label"></label>
                                <input asp-for="Review.Rating"
                                   class="rating"
                                   max="5"
                                   oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
                                   step="0.5"
                                   style="--value:2.5"
                                   type="range"
                                   value="2.5">
                                <span asp-validation-for="Review.Rating" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Review.Comment" class="control-label"></label>
                                <input asp-for="Review.Comment" class="form-control" />
                                <span asp-validation-for="Review.Comment" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (!Model.Game.Reviews.Any())
    {
        <p>No reviews yet.</p>
    }
    else
    {
        <p>Overall Rating: 4.3</p>

        @foreach (var review in Model.Game.Reviews)
        {
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                    <h6 class="card-title">@review.Author.FirstName @review.Author.LastName [@Html.DisplayFor(model => review.DateTime)]</h6>
                    <input class="rating"
                           max="5"
                           step="0.5"
                           style="--value:@review.Rating"
                           type="range"
                           value="@review.Rating">
                    <p class="card-text">@review.Comment</p>
                </div>
            </div>
        }
    }
</div>
