@page
@model VirtualGameStore.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Games";
}

<h1>@ViewBag.Title</h1>

@if (!Model.Games.Any())
{
    <p>No games available at the moment.</p>
}
else
{
    <div class="d-flex flex-wrap justify-content-center">
        @for (int i = 0; i < Model.Games.Count; i++)
        {
            var item = Model.Games[i];

            <div class="card w-25 m-3">
                @*<img src="..." class="card-img-top" alt="...">*@
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Name)
                        @if (item.IsDigital)
                        {
                            <span class="badge bg-dark">digital</span>
                        }
                    </h5>

                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p>Left in stock: @Html.DisplayFor(modelItem => item.Stock)</p>

                    @foreach (var platform in item.Platforms)
                    {
                        <span class="badge bg-primary">@platform.Name</span>
                    }

                    <br />

                    @foreach (var category in item.Categories)
                    {
                        <span class="badge bg-success">@category.Name</span>
                    }

                    <br />

                    <h5 class="mt-1">@Html.DisplayFor(modelItem => item.Price)</h5>
                    <a href="#" class="btn btn-primary mt-1">Add to Cart</a>
                </div>
            </div>
        }
    </div>
}
